html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #1d3557;
}

div {
  border: solid red;
}

#bar {
  background-color: #0e2240;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: aliceblue;

  display: flex;
  justify-content: space-around;

  font-size: 20px;
}

#bar > a {
  margin-top: 20px;
}

/* for the images */
#imagecontainer {
  position: relative;
}

#imagecontainer > img {
  top: 0px;
  position: absolute;
}

.s1 {
  left: 40px;
  animation: swing 3s forwards linear infinite;
}
.s2 {
  left: 170px;
  height: 300px;
  animation: swing 3s -2s forwards linear infinite;
}

.c1 {
  left: 230px;
  animation: swing 3s -1s forwards linear infinite;
}

/* animation for tyhe img */
@keyframes swing {
  0% {
    transform-origin: top center;
    transform: rotate(2deg);
  }
  50% {
    transform-origin: top center;
    transform: rotate(-2deg);
  }

  100% {
    transform-origin: top center;
    transform: rotate(2deg);
  }
}
/* part for the nav bar */
#nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.active {
  color: aliceblue;
}

.unactive {
  color: aliceblue;
  text-decoration: none;
}

/* body part this part need to change for different divice size*/

.aboutContainer {
  height: 100vh;
  place-items: center;
  display: grid;
  grid-template-columns: auto auto;
  color: aliceblue;
}

@media only screen and (max-width: 600px) {
}

#hello {
  max-width: 500px;
  color: aliceblue;
  margin: 0;
}

#pictureContainer {
  display: flex;
  width: 100%;
  max-width: 350px;
}
.me {
  width: 100%;
}

/* education part make changes for different divices*/
#educontainer {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  padding: 20%;
}

/* project part */

.projectContainer {
  padding-top: 100px;
  min-height: 100vh;
  align-items: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}

.projectContainer > h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
}

.projectbox {
  max-width: 896px;
  width: 80%;

  background: rgba(0, 0, 0, 0.35);
  border-radius: 30px;
  margin-top: 100px;
  display: block;
}

.discription {
  color: black;
  margin: 10px;
}

.projectname {
  margin: 10px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  letter-spacing: 0.03em;
}
.projectitem {
  background: #c8cdff;
  min-height: 207px;
  width: 100;
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.tagContainer {
  width: 100%;
  color: aliceblue;
}

.tag {
  padding: 8px;
  margin: 5px;
  text-align: center;
  background-color: #dd2969;
  clip-path: polygon(
    0 0,
    30px 50%,
    0 100%,
    calc(100% - 30px) 100%,
    1000% 50%,
    calc(100% - 30px) 0
  );
  margin: 10px;
}

.projectimage {
  width: 100%;
}

.buttonContainer {
  margin-left: 0px;
  margin: 10px;
}

.linkbutton {
  background: #8993ee;
  border-radius: 20px;
  width: 121px;
  height: 51px;
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}

.linkbutton > a {
  color: aliceblue;
  margin: 0;
  font-size: 20px;
  padding: 10px;
  padding-left: 30%;
}

.git {
  height: 30px;
}

/* contact box */
.contactContainer {
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#contactForm {
  margin-top: 100px;
  max-width: 896px;
  width: 80%;
  height: 487px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#contactMessage {
  color: aliceblue;
  margin: 20px;
  font-weight: 500;
  font-size: 36px;
}

#message {
  width: 70%;
  height: 231px;
  background: #d9d9d9;
  border-radius: 20px;
}

.sendbutton {
  color: aliceblue;
  font-size: 30px;
  width: 197px;
  height: 56px;
  background: #8993ee;
  border-radius: 30px;
  margin: 20px;
}
